@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link href="~/css/StyleSheet.css" rel="stylesheet" />
    <link href="~/css/media.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.min.css" />
</head>
<body>
    <div id="appHome">
        <header class="header">
            <div>
                <div class="block-logo"><img :src="header[0].url" alt="logo" /></div>
                <h1>{{ header[0].mainText }}</h1>
            </div>
            <nav class="block-nav">
                <ul class="block-nav">
                    <li>
                        <a v-bind:href="urlApi" v-on:click="smoothScroll">Вернуться</a>
                    </li>
                </ul>
            </nav>
        </header>

        <main>
            <div class="about-wrapper">
                <div class="block aboutDetalis">
                    <div class="title-block">
                        <h1>{{ about[0].dopMainTitle }}</h1>
                    </div>
                    <div class="border-bottom-title"></div>
                    <section class="aboutDetalis-list">
                        <article>
                            <div><img :src="about[0].url" alt="about" /></div>
                            <h1>{{ about[0].dopTitle }}</h1>
                            <textarea class="aboutDetailTxtTextarea" readonly>{{ about[0].dopText }}</textarea>
                        </article>
                    </section>
                </div>
                <div class="wrapper-cert">
                    <div class="block aboutSert">
                        <div class="title-block">
                            <h3>Сертификаты и лицензии</h3>
                        </div>
                        <div class="border-bottom-title"></div>
                        <section class="cert-list">

                            <div id="waterwheel-carousel" v-for="item in cert">
                                <a :href="item.url"><img :src="item.url" /></a>
                            </div>

                        </section>
                    </div>
                    @*<div class="block aboutSert">
                        <div class="title-block">
                            <h3>Награды</h3>
                        </div>
                        <div class="border-bottom-title"></div>
                        <section class="cert-list">

                            <div id="waterwheel-carousel" v-for="item in cert">
                                <a data-fancybox="gallery" :href="item.url"><img :src="item.url" /></a>
                            </div>

                        </section>
                    </div>*@
                </div>
            </div>
        </main>

        <footer>
            <small>
                &copy; {{ date }} {{ footer[0].copyStr }}
            </small>
        </footer>
    </div>
    <script src="https://rawgit.com/jackmoore/autosize/master/dist/autosize.min.js"></script>
    <script src="~/lib/vue/vue.min.js"></script>
    <script src="~/lib/vue/axios/axios.js"></script>
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.min.js"></script>
    <script src="~/lib/jquery.waterwheelCarousel.min.js"></script>
    <script src="~/lib/slick.min.js"></script>
    <script src="~/js/site.js"></script>
</body>
</html>
