@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link href="~/css/StyleSheet.css" rel="stylesheet" />
</head>
<body class="body-back_office">
    <div id="back_office" class="wrapper">
        <div class="tab-container ">
            <h4 class="tab-title">АО "ЯПИ "Резиноасбопроект"</h4>
            <div class="tab-wrapper">

                @*ГЛАВНАЯ*@
                <input type="radio" name="tab" id="tab1" checked />
                <label class="tab-label no-select" for="tab1" nth="1">ГЛАВНАЯ</label>
                <div class="tab-item" id="tab-content1">
                    <form v-on:submit.prevent class="form-back_office">
                        <fieldset>
                            <legend>Загрузить логотип</legend>
                            <input type="file" id="filesLogo" ref="files" multiple v-on:change="handleFilesUpload" />
                        </fieldset>

                        <fieldset>
                            <legend>Номер телефона</legend>
                            <input type="text" class="header-menu-num" id="mainText-back_office" v-bind:value="header[0].mainText">
                        </fieldset>

                        <fieldset>
                            <legend>Главное меню</legend>
                            <input type="text" class="header-menu-txt" v-bind:id="item.id" v-for="item in header" v-bind:value="item.mainItem">
                        </fieldset>

                        <fieldset>
                            <legend>Приветственный текст</legend>
                            <input type="text" class="header-menu-title" id="mainText-back_office" v-bind:value="header[0].mainTitle">
                        </fieldset>

                        <fieldset>
                            <legend>Загрузить видео</legend>
                            <input type="file" id="filesVideoBgHeader" ref="files" multiple v-on:change="handleFilesUpload" />
                        </fieldset>
                        <button v-on:click="onChangeHeader">Сохранить</button>
                    </form>
                    <form v-on:submit.prevent class="form-back_office">
                        <fieldset>
                            <legend>Сообщения</legend>
                            <input type="text" id="name">
                            <input type="text" id="email">
                        </fieldset>
                        <button v-on:click="onChangeHeader">Отправить</button>
                    </form>
                </div>

                @*УСЛУГИ*@
                <input type="radio" name="tab" id="tab2" />
                <label class="tab-label no-select" for="tab2" nth="2">УСЛУГИ</label>
                <div class="tab-item" id="tab-content2">
                    <div class="tab-content-back_office">
                        <div class="tab-left-back_office">
                            <form v-on:submit.prevent class="form-back_office">
                                <fieldset>
                                    <legend>Главный текст</legend>
                                    <input type="text" class="service-main-title" v-bind:value="service[0].mainTitle">
                                </fieldset>
                            </form>
                            <div class="block-change-menu_back_office">
                                <form v-on:submit.prevent class="form-back_office" v-bind:id="item.orderId" v-for="item in service">
                                    <fieldset>
                                        <legend>Загрузить фотографию услуги</legend>
                                        <label>
                                            <input type="file" class="form-files-service" ref="files" multiple v-on:change="handleFilesUploadService" />
                                        </label>
                                    </fieldset>
                                    <fieldset>
                                        <legend>Название услуги</legend>
                                        <label>
                                            <input type="text" class="service-title" v-bind:value="item.title">
                                        </label>
                                    </fieldset>
                                    <fieldset>
                                        <legend>Описание услуги</legend>
                                        <label>
                                            <textarea class="service-text" draggable="false" v-bind:value="item.text"></textarea>
                                        </label>
                                    </fieldset>
                                    <button v-bind:idCustom="item.orderId" v-on:click="onChangeService">Сохранить</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>


                @*О НАС*@
                <input type="radio" name="tab" id="tab3" />
                <label class="tab-label no-select" for="tab3" nth="3">О НАС</label>
                <div class="tab-item" id="tab-content3">

                    <form v-on:submit.prevent class="form-back_office">
                        <fieldset>
                            <legend>Загрузить фоновую картинку</legend>
                            <input type="file" class="form-files-about" ref="files" multiple v-on:change="handleFilesUploadAbout" />@* ФОТО *@
                        </fieldset>

                        <fieldset>
                            <legend>Главный текст</legend>
                            <input type="text" class="about-Maintitle" v-bind:value="about[0].mainTitle">@* MAIN TITLE *@
                        </fieldset>

                        <fieldset>
                            <legend>Описание</legend>
                            <label>
                                <textarea class="about-text" draggable="false" v-bind:value="about[0].text"></textarea> @* ТЕКСТ *@
                            </label>
                        </fieldset>
                        <button v-bind:idCustom="about.Id" id="mainImg" v-on:click="onChangeAbout">Сохранить</button>
                    </form>

                    <form v-on:submit.prevent class="form-back_office">
                        <fieldset>
                            <legend>Загрузить фотографию в доп. инфо</legend>
                            <label>
                                <input type="file" class="form-files-det-about" ref="files" multiple v-on:change="handleFilesUploadDetAbout" /> @* ДОП ФОТО *@
                            </label>
                        </fieldset>
                        <fieldset>
                            <legend>Главный текст детальной инфо.</legend>
                            <input type="text" class="about-Det-Maintitle" v-bind:value="about[0].dopMainTitle">@* MAIN TITLE *@
                        </fieldset>
                        <fieldset>
                            <legend>Доп. описание</legend>
                            <input type="text" class="about-DetTitle" v-bind:value="about[0].dopTitle">@* ДОП TITLE *@
                            <label>
                                <textarea class="about-detail-text" draggable="false" v-bind:value="about[0].dopText"></textarea>@* ДОП ТЕКСТ *@
                            </label>
                        </fieldset>
                        <button v-bind:idCustom="about.Id" v-on:click="onChangeAbout">Сохранить</button>
                    </form>

                    <form v-on:submit.prevent class="form-back_office">
                        <fieldset>
                            <legend>Кнопка подробной информации</legend>
                            <input type="text" id="name" v-bind:value="about[0].buttonText">
                        </fieldset>
                        <button v-bind:idCustom="about.Id" v-on:click="onChangeAbout">Сохранить</button>

                        <fieldset>
                            <legend>Список сертификатов</legend>
                            <input id="searchCert" type="search" placeholder="Поиск сертификата" v-on:input="onSearthCert" v-on:change="onSearthCert"/>
                            <div class="blockListCert">
                                <div class="blockCert" v-for="item in arrCertSearth">
                                    <h4>{{ item.certName }}test</h4>
                                    <button v-bind:idCustom="item.CertId" class="btm-back-del-client" v-on:click="onDelCert">Удалить</button>
                                </div>
                            </div>
                        </fieldset>

                        <fieldset>
                            <legend>Загрузить сертификат</legend>
                            <label>
                                <input id="nameCert" type="search" placeholder="Укажите название сертификата" />
                                <input type="file" class="form-files-cert" ref="files" multiple v-on:change="handleFilesUploadCert" /> @* ДОП ФОТО *@
                            </label>
                        </fieldset>
                        <button v-on:click="onAddCert">Добавить</button>
                    </form>

                </div>

                @*СТАТИСТИКА*@
                <input type="radio" name="tab" id="tab4" />
                <label class="tab-label no-select" for="tab4" nth="4">СТАТИСТИКА</label>
                <div class="tab-item" id="tab-content4">
                    <form v-on:submit.prevent class="form-back_office">

                        <fieldset>
                            <legend>Статистика 2</legend>
                            <input type="text" class="stat-menu-number-one" v-bind:value="stat[0].number">
                            <input type="text" class="stat-menu-txt-one" v-bind:value="stat[0].text">
                        </fieldset>

                        <fieldset>
                            <legend>Статистика 3</legend>
                            <input type="text" class="stat-menu-number-two" v-bind:value="stat[1].number">
                            <input type="text" class="stat-menu-txt-two" v-bind:value="stat[1].text">
                        </fieldset>

                        <fieldset>
                            <legend>Статистика 4</legend>
                            <input type="text" class="stat-menu-number-three" v-bind:value="stat[2].number">
                            <input type="text" class="stat-menu-txt-two" v-bind:value="stat[2].text">
                        </fieldset>

                        <button v-on:click="onChangeHeader">Сохранить</button>
                    </form>
                </div>

                @*ПРОЕКТЫ*@
                <input type="radio" name="tab" id="tab5" />
                <label class="tab-label no-select" for="tab5" nth="5">ПРОЕКТЫ</label>
                <div class="tab-item" id="tab-content5">
                    <form v-on:submit.prevent class="form-back_office">
                        <fieldset>
                            <legend>Главный текст</legend>
                            <input type="text" class="project-menu-title" v-bind:value="project[0].mainTitle">
                        </fieldset>

                        <fieldset>
                            <legend>Загрузить картинку проекта 1</legend>
                            <input type="file" id="files" ref="files" multiple v-on:change="handleFilesUpload" />
                        </fieldset>
                        <fieldset>
                            <legend>Загрузить картинку проекта 2</legend>
                            <input type="file" id="files" ref="files" multiple v-on:change="handleFilesUpload" />
                        </fieldset>
                        <fieldset>
                            <legend>Загрузить картинку проекта 3</legend>
                            <input type="file" id="files" ref="files" multiple v-on:change="handleFilesUpload" />
                        </fieldset>

                        <fieldset>
                            <legend>Описание проекта 1</legend>
                            <input type="text" class="header-menu-title" id="mainText-back_office" v-bind:value="project[0].title">
                        </fieldset>
                        <fieldset>
                            <legend>Описание проекта 2</legend>
                            <input type="text" class="header-menu-title" id="mainText-back_office" v-bind:value="project[1].title">
                        </fieldset>
                        <fieldset>
                            <legend>Описание проекта 3</legend>
                            <input type="text" class="header-menu-title" id="mainText-back_office" v-bind:value="project[2].title">
                        </fieldset>

                        <button v-on:click="onChangeHeader">Сохранить</button>
                    </form>

                    <form v-on:submit.prevent class="form-back_office">
                        <fieldset>
                            <legend>Добавить проект в список</legend>
                            <input type="text" id="name">
                            <input type="text" id="email">
                        </fieldset>
                        <button v-on:click="onChangeHeader">Добавить</button>
                    </form>

                    <form v-on:submit.prevent class="form-back_office">
                        <fieldset>
                            <legend>Кнопка подробной информации</legend>
                            <input type="text" id="name" v-bind:value="project[0].buttonText">
                        </fieldset>
                        <button v-on:click="onChangeHeader">Сохранить</button>
                    </form>
                </div>

                @*КЛИЕНТЫ*@
                <input type="radio" name="tab" id="tab6" />
                <label class="tab-label no-select" for="tab6" nth="6">КЛИЕНТЫ</label>
                <div class="tab-item" id="tab-content6">
                    <form v-on:submit.prevent class="form-back_office">
                        <fieldset>
                            <legend>Главный текст</legend>
                            <input type="text" class="client-menu-title" v-bind:value="client[0].mainTitle">
                            <button v-on:click="onChangeClient">Сохранить</button>
                        </fieldset>
                    </form>
                    <form v-on:submit.prevent class="form-back_office">
                        <fieldset v-for="item in client">
                            <legend>Загрузить логотип клиента {{ item.clientId }}</legend>
                            <input type="file" class="form-files-client" ref="files" multiple v-on:change="handleFilesUploadClient" />
                            <button  v-bind:idCustom="item.clientId" v-on:click="onChangeClient">Сохранить</button>
                            <button  v-bind:idCustom="item.clientId" class="btm-back-del-client" v-on:click="onDelClient">Удалить</button>
                        </fieldset>

                    </form>

                    <form v-on:submit.prevent class="form-back_office">
                        <fieldset>
                            <legend>Добавить клиента в список</legend>
                            <label>
                                <input type="file" class="form-files-client" ref="files" multiple v-on:change="handleFilesUploadClient" />
                            </label>
                        </fieldset>
                        <button v-bind:idCustom="client[client.length-1].clientId" v-on:click="onAddClient">Добавить</button>
                    </form>
                </div>
                @*КОНТАКТЫ*@
                <input type="radio" name="tab" id="tab7" />
                <label class="tab-label no-select" for="tab7" nth="7">КОНТАКТЫ</label>
                <div class="tab-item" id="tab-content7">
                    <form v-on:submit.prevent class="form-back_office">
                        <fieldset>
                            <legend>Главный текст</legend>
                            <input type="text" class="contact-menu-title" v-bind:value="contact[0].mainTitle">
                        </fieldset>

                        <fieldset>
                            <legend>Описание</legend>
                            <input type="text" class="contact-menu-txt" v-bind:value="contact[0].title">
                        </fieldset>

                        <fieldset>
                            <legend>Адрес</legend>
                            <input type="text" class="contact-menu-txt" v-bind:value="contact[1].text">
                        </fieldset>
                        <fieldset>
                            <legend>Почта</legend>
                            <input type="text" class="contact-menu-txt" v-bind:value="contact[2].text">
                        </fieldset>
                        <fieldset>
                            <legend>Телефон</legend>
                            <input type="text" class="contact-menu-txt" v-bind:value="contact[3].text">
                        </fieldset>
                    </form>

                    <form v-on:submit.prevent class="form-back_office">
                        <fieldset>
                            <legend>Кнопка подробной информации</legend>
                            <input type="text" id="name" v-bind:value="contact[0].buttonText">
                        </fieldset>
                        <button v-on:click="onChangeHeader">Сохранить</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/vue/vue.min.js"></script>
    <script src="~/lib/vue/axios/axios.js"></script>
    <script src="~/js/BackOffice.js"></script>
</body>
</html>
