@{
	Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link href="~/css/StyleSheet.css" rel="stylesheet" />
</head>
<body class="body-back_office">
    <div id="back_office" class="wrapper">
        <div class="tab-container ">
            <h4 class="tab-title">АО "ЯПИ "Резиноасбопроект"</h4>
            <div class="tab-wrapper">
                @*ГЛАВНАЯ*@
                <input type="radio" name="tab" id="tab1" checked />
                <label class="tab-label no-select" for="tab1" nth="1">ГЛАВНАЯ</label>
                <div class="tab-item" id="tab-content1">
                    <div class="tab-content-back_office">
                        <div class="tab-left-back_office">
                            <div class="block-change-menu_back_office">
                                <form v-on:submit.prevent class="form-back_office">
                                    <fieldset>
                                        <legend>Главное меню</legend>
                                        <input type="text" class="header-menu-txt" v-bind:id="item.id" v-for="item in header" v-bind:value="item.mainItem">
                                    </fieldset>
                                    <button v-on:click="onChangeHeader">Сохранить</button>
                                </form>
                                <form v-on:submit.prevent class="form-back_office">
                                    <fieldset>
                                        <legend>Приветственный текст</legend>
                                        <input type="text" class="header-menu-title" id="mainText-back_office" v-bind:value="header[0].mainTitle">
                                    </fieldset>
                                </form>
                            </div>
                            <div class="block-change-menu_back_office">
                                <form v-on:submit.prevent class="form-back_office">
                                    <fieldset>
                                        <legend>Загрузить логотип</legend>
                                        <div id="back_office">
                                            <input type="file" id="files" ref="files" multiple v-on:change="handleFilesUpload" />
                                        </div>
                                    </fieldset>
                                    <button v-on:click="submitFile">Принять</button>
                                </form>
                                <form v-on:submit.prevent class="form-back_office">
                                    <fieldset>
                                        <legend>Загрузить видео</legend>
                                        <div id="back_office">
                                            <input type="file" id="files" ref="files" multiple v-on:change="handleFilesUpload" />
                                        </div>
                                    </fieldset>
                                    <button v-on:click="submitFile">Принять</button>
                                </form>
                            </div>
                        </div>
                        <div class="tab-right-back_office">
                            <h1>ЧАТ</h1>
                            <form v-on:submit.prevent class="form-back_office">
                                <fieldset>
                                    <legend>Сообщения</legend>
                                    <input type="text" id="name">
                                    <input type="text" id="email">
                                </fieldset>
                                <button v-on:click="submitFile">Отправить</button>
                            </form>
                        </div>
                    </div>
                </div>
                @*УСЛУГИ*@
                <input type="radio" name="tab" id="tab2" />
                <label class="tab-label no-select" for="tab2" nth="2">УСЛУГИ</label>
                <div class="tab-item" id="tab-content2">
                    <div class="tab-content-back_office">
                        <div class="tab-left-back_office">
                            <div class="block-change-menu_back_office">
                                <form v-on:submit.prevent class="form-back_office">
                                    <fieldset>
                                        <legend>Главный текст</legend>
                                        <input type="text" class="service-main-title" v-bind:value="service[0].mainTitle">
                                    </fieldset>
                                    <fieldset>
                                        <legend>Название главных услуг</legend>
                                        <label v-for="item in service">
                                            Услуга {{ item.orderId }}
                                            <input type="text" class="service-name" v-bind:value="item.title">

                                        </label>
                                    </fieldset>
                                    <fieldset>
                                        <legend>Описание главных услуг</legend>
                                        <label v-for="item in service">
                                            Описание {{ item.orderId }}
                                            <input type="text" class="service-txt" v-bind:value="item.text">
                                        </label>
                                    </fieldset>
                                    <button v-on:click="onChangeService">Сохранить</button>
                                </form>
                                <form v-on:submit.prevent class="form-back_office">
                                    <fieldset>
                                        <legend>Название доп. услуг</legend>
                                        <input type="text" class="service-menu-title" id="mainText-back_office" v-bind:value="service[0].mainTitle">
                                    </fieldset>
                                    <fieldset>
                                        <legend>Описание доп. услуг</legend>
                                        <input type="text" class="service-menu-title" id="mainText-back_office" v-bind:value="service[0].mainTitle">
                                    </fieldset>
                                </form>
                            </div>
                            <div class="block-change-menu_back_office">
                                <form v-on:submit.prevent class="form-back_office">
                                    <fieldset>
                                        <legend>Загрузить доп. услугу на главную стр.</legend>
                                        <div id="back_office">
                                            <input type="file" id="files" ref="files" multiple v-on:change="handleFilesUpload" />
                                        </div>
                                    </fieldset>
                                    <button v-on:click="submitFile">Принять</button>
                                </form>
                                <form v-on:submit.prevent class="form-back_office">
                                    <fieldset>
                                        <legend>Загрузить доп. услугу в общий список</legend>
                                        <div id="back_office">
                                            <input type="file" id="files" ref="files" multiple v-on:change="handleFilesUpload" />
                                        </div>
                                    </fieldset>
                                    <button v-on:click="submitFile">Принять</button>
                                </form>
                            </div>
                        </div>
                        @*<div class="tab-right-back_office">
                            <h1>ЧАТ</h1>
                            <form v-on:submit.prevent class="form-back_office">
                                <fieldset>
                                    <legend>Сообщения</legend>
                                    <input type="text" id="name">
                                    <input type="text" id="email">
                                </fieldset>
                                <button v-on:click="submitFile">Отправить</button>
                            </form>
                        </div>*@
                    </div>
                </div>

                <input type="radio" name="tab" id="tab3" />
                <label class="tab-label no-select" for="tab3" nth="3">О НАС</label>
                <div class="tab-item" id="tab-content3">
                    <h1>О НАС</h1>
                </div>

                <input type="radio" name="tab" id="tab4" />
                <label class="tab-label no-select" for="tab4" nth="4">СТАТИСТИКА</label>
                <div class="tab-item" id="tab-content4">
                    <h1>СТАТИСТИКА</h1>
                </div>

                <input type="radio" name="tab" id="tab5" />
                <label class="tab-label no-select" for="tab5" nth="5">ПРОЕКТЫ</label>
                <div class="tab-item" id="tab-content5">
                    <h1>ПРОЕКТЫ</h1>
                </div>

                <input type="radio" name="tab" id="tab6" />
                <label class="tab-label no-select" for="tab6" nth="6">КЛИЕНТЫ</label>
                <div class="tab-item" id="tab-content6">
                    <h1>КЛИЕНТЫ</h1>
                </div>

                <input type="radio" name="tab" id="tab7" />
                <label class="tab-label no-select" for="tab7" nth="7">КОНТАКТЫ</label>
                <div class="tab-item" id="tab-content7">
                    <h1>КОНТАКТЫ</h1>
                </div>
            </div>
        </div>
    </div>
	<script src="~/lib/jquery/dist/jquery.min.js"></script>
	<script src="~/lib/vue/vue.min.js"></script>
	<script src="~/lib/vue/axios/axios.js"></script>
	<script src="~/js/BackOffice.js"></script>
</body>
</html>
