@{
	Layout = "_Layout";
}
<div id="main" class="block main-block">
	<div class="page-video">
		<video class="video" loop="loop" autoplay="" muted="" poster="img/service1.png"> @* ДОБАВИТЬ ФОТО ПОКА ГРУЗИТСЯ ВИДЕО*@
			<source v-bind:src="header[0].background" type="video/mp4" />
		</video>
	</div>
	<section class="main-block-title">
		<h1>{{ header[0].mainTitle }}</h1>
        <a class="arrow-down" href="#service" v-on:click="smoothScroll"></a>
	</section>
</div>

<div id="service" class="block service">
	<div class="title-block">
		<h1>{{ service[0].mainTitle }}</h1>
	</div>
	<div class="border-bottom-title"></div>
	<section class="service-list">
		<article v-for="item in service">
            <div><img :src="item.url" alt="service" /></div>
			<h1>{{ item.title }}</h1>
            <textarea ref="serviceTxt" class="serviceTxt" readonly>{{ item.text }}</textarea>
		</article>
	</section>
</div>

<div id="about" class="block about">
	<div class="about-left">
        <div class="about-block-txt">
            <div class="title-block">
                <h1>{{ about[0].mainTitle }}</h1>
            </div>
            <div class="border-bottom-title"></div>
            <div class="about-txt">
                <textarea class="aboutTxtTextarea" readonly>{{ about[0].text }}</textarea>
            </div>
            @*<a class="btn-detail" href="https://localhost:44349/about-details">{{ about[0].buttonText }}</a>*@
            <a class="btn-detail" href="https://rzproekt.ru/about-details">{{ about[0].buttonText }}</a>
        </div>
	</div>
	<div class="about-right"></div>
</div>

<div>
    <div class="block-counter">
        <div class="counter">
            <div class="counter benefits__inner">
                <div class="numeral-detal"><h2>БОЛЕЕ</h2></div>
                <div class="numeral benefits__number numbersOne">0</div>
                <div class="numeral-detal"><h2>{{ stat[0].text }}</h2></div>
            </div>
        </div>
        <div class="block-border-counter"></div>
        <div class="counter">
            <div class="numeral lines benefits__number numbersTwo">{{ date - 1938}}</div>
            <div class="numeral-detal"><h2>{{ stat[1].text }}</h2></div>
        </div>
        <div class="block-border-counter"></div>
        <div class="counter">
            <div class="numeral-detal"><h2>БОЛЕЕ</h2></div>
            <div class="numeral benefits__number numbersThree">{{ stat[2].number }}</div>
            <div class="numeral-detal"><h2>{{ stat[2].text }}</h2></div>
        </div>
    </div>
</div>

    <div id="project" class="block project">
        <div class="title-block">
            <h1>{{ project[0].mainTitle }}</h1>
        </div>
        <div class="border-bottom-title"></div>
        <section class="project-list">

            @*/////////*@
            <div class="project-item" :projectId="project[0].projectId">
                <button class="btn-left-slider-prj" :projectId="project[0].projectId" nav="prev" v-on:click="uniteDatePrj"><</button>
                <button class="btn-right-slider-prj" :projectId="project[0].projectId" nav="next" v-on:click="uniteDatePrj">></button>
                <img :src="project[0].url" />

            </div>
            <div class="project-item" :projectId="project[1].projectId" v-on:click="onGetAllImgProject">
                <button class="btn-left-slider-prj" :projectId="project[1].projectId" nav="prev" v-on:click="uniteDatePrj"><</button>
                <button class="btn-right-slider-prj" :projectId="project[1].projectId" nav="next" v-on:click="uniteDatePrj">></button>
                <img :src="project[1].url" />
            </div>
            <div class="project-item" :projectId="project[2].projectId">
                <button class="btn-left-slider-prj" :projectId="project[2].projectId" nav="prev" v-on:click="uniteDatePrj"><</button>
                <button class="btn-right-slider-prj" :projectId="project[2].projectId" nav="next" v-on:click="uniteDatePrj">></button>
                <img :src="project[2].url" />

            </div>
            @*/////////*@

        </section>
        @*<a class="btn-detail" href="https://localhost:44349/project-details">{{ project[0].buttonText }}</a>*@
        <a class="btn-detail" href="https://rzproekt.ru/project-details">{{ project[0].buttonText }}</a>
    </div>

    <div id="client" class="block clients">
        <div class="title-block">
            <h1>{{ client[0].mainTitle }}</h1>
        </div>
        <div class="border-bottom-title"></div>
        <section class="multiple-items clients-list">
            <div v-for="item in client">
                <img :src="item.url" style="width: 215px;"/>
            </div>
        </section>
    </div>

    <div id="contact" class="block contacts">
        <div class="title-block">
            <h1>{{ contact[0].mainTitle }}</h1>
        </div>
        <div class="border-bottom-title"></div>
        <div class="map-block">
            <iframe class="iframe" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2135.476580426758!2d39.87244051610277!3d57.64038515230752!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46b2916fd18e267d%3A0x65d18492882ca52!2z0KHQvtCy0LXRgtGB0LrQsNGPINGD0LsuLCA2OSwg0K_RgNC-0YHQu9Cw0LLQu9GMLCDQr9GA0L7RgdC70LDQstGB0LrQsNGPINC-0LHQuy4sIDE1MDAwMw!5e0!3m2!1sru!2sru!4v1602061981456!5m2!1sru!2sru" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
        </div>
        <section class="contacts-list">
            <article class="contacts-block">
                <div class="address">
                    <h1>{{ contact[0].title }}</h1><br />
                    <p>{{ contact[0].addressCompany }} <br /><br /> {{ contact[0].numberCompany }} <br /><br /> {{ contact[0].emailCompany }}</p>
                </div>
                <!--<div class="detail-contacts">-->
                @*<a class="btn-detail" href="https://localhost:44349/contact-details">{{ contact[0].buttonText }}</a>*@
                <!--<a class="btn-detail" href="https://rzproekt.ru/contact-details">{{ contact[0].buttonText }}</a>
                </div>-->
            </article>
        </section>
    </div>
    <div id="chatroom" class="block-chat">
        <button class="toggle-btn" v-on:click="toggleChat">Напишите нам!</button>
        <div class="main-block-chat main-block-chat-hide">
            <div id="notifyBlock" class="block-msg">
                <div id="helloMsg" data-id="False">
                    Оставьте сообщение здесь или отправьте на <a href="mailto:mail@rzproekt.ru">mail@rzproekt.ru</a>
                </div>
				<div v-for="item in arrMsgChat" :data-id="item.isAdmin">
					{{ item.message }}
					<p>{{ item.created }}</p>
				</div>
            </div>
            <div class="block-send-msg">
                <input type="text" id="msgChat" class="input-chat" />
                <button id="sendBtn" class="send-msg-btn" v-on:click="checedSendMsg">
                    <img src="~/img/paper-plane.png" />
                </button>
            </div>
        </div>
    </div>
