.aboutDetalis {
    background: #fff;
    padding-top: 10rem !important;

    .aboutDetalis-list {
        margin: 3rem auto;
        width: 80%;

        article {
            background: $liteSilver;
            margin: 1rem;
            overflow: hidden;

            img {
                width: 40rem !important;
                float: right;
            }

            h1 {
                padding: 1rem;
                color: #3d5975;
            }

            p {
                padding: 1rem;
            }
        }
    }
}
.aboutSert {
    padding-top: 0!important;
}
.cert-list {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 6rem;

    a {
        img {
            width: 160px
        }
    }
    a[data-fancybox="gallery"] {
        margin: 2rem;
    }
}
