.aboutDetalis {
    background: #fff;
    padding-top: 10rem !important;

    .aboutDetalis-list {
        margin: 3rem auto;
        width: 80%;

        article {
            background: $liteSilver;
            margin: 1rem;
            overflow: hidden;

            img {
                float: right;
                max-width: 35rem !important;
                float: right;
                margin-left: 1rem;
                margin-bottom: 1rem;
            }

            h1 {
                padding: 1rem;
                color: #3d5975;
                font-size: 2rem;
            }

            p {
                padding: 1rem;
            }
        }
    }
}
.aboutSert {
    padding-top: 0!important;
}
.cert-list {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 6rem;

    a {
        img {
            width: 160px
        }
    }
    a[data-fancybox="gallery"] {
        margin: 2rem;
    }
}
.aboutDetailTxtTextarea {
    height: auto;
    width: 100%;
    max-width: 53rem;
    background: transparent;
    border: none;
    padding: 1rem;
    min-height: 15rem;
    resize: none;
    outline: none;
    font-size: 1rem;
}
