.clients {
    background: $liteSilver;

    .clients-list {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        margin: 2rem auto;

        .clients-block {
            display: flex;
            align-items: center;
            justify-content: center;
            overflow: hidden;
            width: 10rem;
            height: 6rem;
            margin: 2rem;
            cursor: pointer;
            filter: grayscale(1);

            &:hover {
                filter: grayscale(0);
            }

            img {
                width: 10rem
            }
        }
    }
}
