.block-counter {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    background: #b52536;

    .block-border-counter {
        width: .2rem;
        background: white;
        height: 75px;
    }

    .counter {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        margin: 1rem 3rem;
        text-align: center;
    }

    .numeral {
        font-size: 4rem;
        font-weight: bolder;
        color: $white;
    }

    .numeral-detal {
        font-size: 0.9rem;

        h2 {
            color: $bgHeader;
            width: 185px;
        }
    }
}
