.project-list {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin: 2rem auto;

    .project-block {
        display: flex;
        align-items: center;
        justify-content: center;
        background: silver;
        overflow: hidden;
        width: 26rem;
        height: 29rem;
        margin: 2rem;
        cursor: pointer;

        h1 {
            padding: 0 2rem;
        }
    }
}
