.project {
    background: $white;
}
.project-list {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin: 2rem auto;

    .siema {
        background: silver;
        width: 20rem;
        height: 35rem;
    }

    .project-block {
        display: flex;
        align-items: center;
        justify-content: center;
        background: silver;
        overflow: hidden;
        width: 23rem;
        height: 25rem;
        margin: 2rem;
        cursor: pointer;

        h1 {
            padding: 0 2rem;
        }
    }

}
