.service {
    background: #fff;
}
.service-list {
    display: flex;
    margin: 3rem;
    justify-content: center;
    flex-wrap: wrap;

    article {
        background: $liteSilver;
        width: 18.5rem;
        margin: 1rem;
        overflow: hidden;

        img {
            width: auto;
            height: 14rem;
        }

        h1 {
            padding: 1rem;
            color: #3d5975;
        }

        p {
            padding: 1rem;
        }
    }
}
