.service {
    background: #fff;
}
.service-list {
    display: flex;
    margin: 3rem;
    justify-content: center;
    flex-wrap: wrap;

    article {
        background: $liteSilver;
        width: 18.5rem;
        margin: 1rem;
        overflow: hidden;

        img {
            width: auto;
            height: 14rem;
        }

        h1 {
            padding: 1rem;
            color: #3d5975;
        }

        .serviceTxt {
            height: auto;
            width: 16rem;
            background: transparent;
            border: none;
            padding: 1rem;
            min-height: 20rem;
            resize: none;
            outline: none;
        }

        p {
            padding: 1rem;
        }
    }
}
