$bgHeader: #1e2d3b;
$linkHvr: #ff9393;
$white: #fff;

*{
    margin: 0;
    padding: 0;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: $bgHeader;

    .block-logo {
        background: $white;
        padding: 1rem;
    }

    .block-nav {
        margin-right: 2rem;

        ul {
            display: flex;
            list-style-type: none;

            li {
                padding: 1rem;
                margin: 0 1rem;
                cursor: pointer;

                &:hover a {
                    color: $linkHvr;
                }

                a {
                    color: $white;
                    text-decoration: none;
                    font-size: 1.2rem;
                    transition: .3s;
                }
            }
        }
    }
}
