<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link href="~/css/StyleSheet.css" rel="stylesheet" />
</head>
<body>
    <div id="appHome">
        <header class="header">
            <div class="block-logo"><img :src="header.logo" _src="~/img/logo.png" alt="logo" /></div>
            <nav class="block-nav">
                <ul>
                    <li><a href="#">{{ header.nav.main }}</a></li>
                    <li><a href="#">{{ header.nav.service }}</a></li>
                    <li><a href="#">{{ header.nav.project }}</a></li>
                    <li><a href="#">{{ header.nav.about }}</a></li>
                    <li><a href="#">{{ header.nav.contacts }}</a></li>
                </ul>
            </nav>
        </header>

        @RenderBody()

    <footer>
        <small>&copy;Company A</small>
    </footer>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/vue/vue.min.js"></script>
	<script src="~/lib/vue/axios/axios.js"></script>
    <script src="~/js/site.js"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
