<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link href="~/css/StyleSheet.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" />
</head>
<body>
    <div id="appHome">
        <header class="header">
            <div>
                <div class="block-logo"><img :src="header[0].url" alt="logo" /></div>
                <h1>{{ header[0].mainText }}</h1>
            </div>
            <nav class="block-nav">
                <ul class="block-nav">
                    <li v-for="item in header">
                        <a href="#" v-on:click="smoothScroll">{{ item.mainItem }}</a>
                    </li>
                </ul>
            </nav>
        </header>

        @RenderBody()

        <footer>
            <small>
                &copy; {{ date }} {{ footer[0].copyStr }}
            </small>
        </footer>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
    <script src="~/lib/vue/vue.min.js"></script>
    <script src="~/lib/vue/axios/axios.js"></script>
    <script src="~/js/site.js"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
